<h3>People at Sopost</h3>

<ul class="list-group">
	<%= for person <- @people do %>
		<div class="row">
			<li class="list-group-item">
				<%= person.name %>
				<img src= <%= person.photo %> class="img-thumbnail">
			</li>
		</div>

	<% end %>

	
</ul>